<nav>
  <div class="site-title">
    <a href="/">
      <h1>URL Shortener</h1>
    </a>
  </div>
  <ul>
    <li><a href="/"><span class="navtab">Home</span></a></li>
    <li><a href="/create"><span class="navtab">New Short URL</a></li>
    <li><a href="/about"><span class="navtab">About</span></a></li>
  </ul>
</nav>
