<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-url">
      <form action="/" method="POST">
        <label for="origUrl">Original URL:</label>
        <input type="url" id="origUrl" name="origUrl" required />
        <label for="shortUrl">Custom Short URL:</label>
        <input
          type="text"
          id="shortUrl"
          name="shortUrl"
          pattern="[\w]{5,}"
          title="Must contain atleast 5 characters: only alphanumeric characters (and underscore) allowed"
          required
        />
        <button>Create</button>
      </form>
    </div>

    <div class="message">
      <p><%=message%></p>
    </div>
  </body>
</html>
